/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require_directory .
*/

/* COLORS */

$violet: #723270;
$green: #40E246;

/* HEADER */

#header {

  padding: 30px 100px 12px 0;

  #brand {
    margin-left: 6.5%;
  }

  #header-search {

    input[type='search'] {
      width: 186px;
      margin-left: 30px;
    }

    input[type='image'] {
      position: relative;
      top: 13px;
      height: 34px
    }

    a {
      margin-left: 10px;
    }

  }

  #header-pills {

    margin-top: 15px;

    a {
      padding: 4px 15px;
      text-transform: uppercase;
      color: $green;
    }
  }
}


/* CONTENT */

#content {

  margin: 30px 0 40px 0;
  text-align: justify;

  #header-carousel {

    img {
      height: 395px;
    }
  }

  #campaigns-title {
    margin: 30px 0;
    background-color: $violet;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
  }

  #slogan {
    margin: 30px 0;
    text-align: center;
    font-size: 30px;
  }

  #slogan-images {
    margin: 10px 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;

    img {
      width: 120px;
      height: 120px;
      margin-bottom: 15px;
    }
  }
}


/* FOOTER */

#footer {

  a {
    color: white;
  }

  background-color: black;
  padding: 10px 280px;
  text-align: center;
}
