.campaign-card {

  .thumbnail {

    height: 455px;

    .caption {
      padding: 9px 9px 0 9px;
    }

    .description {
      height: 100px;
    }

    .information {
      height: 40px;
    }
  }
}
