/* COLORS */

$violet: #723270;
$green: #40E246;

#contribution-header {
  margin: 30px 0;
  background-color: $violet;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 20px;
  font-family: Helvetica Neue;
  //border-radius: 10px;
}

#contribution-subheader {
  margin: 30px 0;
  background-color: $green;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 20px;
  font-family: Helvetica Neue;
  //border-radius: 10px;
}

/* FAQ SECTION */

#faqPanel {
  margin-bottom: 0;
  margin-top: 0;
}

#faqQuestion {
  font-size: 14px;
  color: #00A0FF;
}

#faqHeader {
  color: #828587;
}

#faqAnswer {
  font-size: 11px;
}
