.btn-add-milestone {
  margin-top: 50px;
  border-radius: 30px;
}

.field_with_errors {
  .form-control {
    border-color: #D9534F;
    border-width: 1px;
  }
}

.btn-milestone-remove {
  margin-bottom: 25px;
}
