.hidden {
  visibility: none;
}

.custom-select {
  display: block;
  margin-top: 10px;
  color: #999999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 15px;
}

.fixed-height {
  height: 180px !important;
  text-align: justify;
}

.big-green {
  overflow: hidden;
  z-index: 1;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 6%;

  a {
    background: #99b709;
    margin-top: 10px;
    padding: 20px;
    color: #ffffff;
    display: inline-block;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
  }
}
